<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Language Detector</a>
            <div class="nav-collapse">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
              </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class='container-fluid'>
      <div class="span9"> 
        <p>URL, text... anything</p>
        <div class="row-fluid">
          <form id="form" class="well form-vertical" action="/detect" method="post">
            <textarea id="text" name="content" class="field span12"></textarea>
            <button class="btn btn-primary btn-large" type="submit">Detect Language</button>
          </form>
          {% if log %}
            <div class='log'>{{ log }}</div>
          {% endif %}
        </div>
      </div>
      <div class='raw-fluid pull-right'>
        <div class='span3'>
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Supported languages</li>
              {% for language in supported_languages.iterkeys() %}
               <li id=langmarker_{{ language }}><a>{{ supported_languages[language] }}</a></li>
              {% endfor %}
               <li><a href='/train'>Train</a></li>
             </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <footer>
      <p>&copy; Doitflex 2012</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
    {% if detected_language %}
    <script language='javascript' type='text/javascript'>
      $(document).ready(function(){
        $('#langmarker_{{ detected_language }}').addClass('active');
      });
    </script>
    {% endif %}
  </body>
<html>
